body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
}
img {
  height: 100%;
  width: 100%;
}

button {
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
  height: 40px;
  font-size: 30px;
}

p {
  font-size: 30px;
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 50px;
}

h4 {
  font-size: 24px;
}

a {
  margin-right: 25px;
  margin-left: 25px;
  width: 100px;
  height: 40px;
}

/* #showDice {
  display: none;
} */

#wins {
  display: none;
}

#p1Wins, #p2Wins {
  display: none;
}
.row {
  display:block;
  margin: 0 auto;
  text-align:center;
}
#roll, #hold, .btn.btn-primary {
  font-size: 22px;
}

#pig1, #pig2 {
  display:none;
  height: 150px;
  width: 150px;
}


#pigPen {
  height: 175px;
  width: 175px;
}
